<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<h1>Vista del Loggin</h1>
	<div>
		<ul>
			<li><a href="/register/">Register</a></li>
			<li><a href="/mod/">Moderador</a></li>
			<li><a href="/admin/">Administrador</a></li>
			<li><a href="/">return</a></li>
		</ul>
	</div>
</body>
</html>