<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
</head>
<body>
	<h1>Vista del registrado</h1>
	<ul>
		<li><a href="/">Cerrar Sesión</a></li>
	</ul>
</body>
</html>