.control-sector-register, .control-ubicacion-register {
	display: block;
  	position: absolute;
    right: 10px;
  	z-index: 1000 !important;
  	padding: 6px 8px;
  	font: 14px/16px Arial, Helvetica, sans-serif;
  	background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.control-sector-register {
    top: 10px;
}
.control-ubicacion-register{
    top: 100px;
}
.control-sector-register h4, .control-ubicacion-register h4 {
    margin: 0 0 5px;
    color: #777;
}